.footer{
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
  border-top: 2px solid white;
  background: #191919;
  color: white;
  padding: 10px;
}

@media screen and (max-width: 670px) {
  .footer{
    width: 100%;
  }
}