.image {
    display: flexbox;
    width: 240px;
    background-size: cover;
    padding: 7px;
    object-fit: contain;
}

.image:hover {
    border: 3px solid #c850c0;
}

.pagina .tituloSkills {
    font-size: 40px;
    font-weight: bold;
    color: #4150d0;
}


@media screen and (max-width: 460px) {
    .pagina .tituloSkills {
        margin-top: 45px;
    }
}



.image {
    /* Agrega transiciones para un cambio suave de propiedades */
    transition: transform 0.5s ease-in-out;
}

/* Define la animación keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplica la animación a la clase deseada */
.animated-image {
    animation: fadeInUp 1s ease-in-out;
}